/bin
/obj
/.vs
src/bin
src/obj
src/.vs
src/KeePassCommand/bin
src/KeePassCommand/obj
src/KeePassCommand/.vs
src/KeePassCommandDll/bin
src/KeePassCommandDll/obj
src/KeePassCommandDll/.vs
src/KeePassCommanderPlugin/bin
src/KeePassCommanderPlugin/obj
src/KeePassCommanderPlugin/.vs

example/CsharpExample/bin
example/CsharpExample/obj
example/CsharpExample/.vs
example/CsharpExample/src/bin
example/CsharpExample/src/obj
example/CsharpExample/src/.vs
example/CsharpExample/src/CsharpExample/bin
example/CsharpExample/src/CsharpExample/obj
example/CsharpExample/src/CsharpExample/.vs